import 'package:bitter/src/models/customer.dart';
import 'package:bitter/src/models/draft.dart';
import 'package:bitter/src/models/item.dart';
import 'package:bitter/src/models/vendor.dart';

Customer exampleCustomer = Customer(
  id: 1,
  name: 'Erika',
  surname: 'Musterfrau',
  gender: Gender.female,
  email: 'e.muster@mail.de',
  zipCode: 12345,
  city: 'Town',
  address: 'Example Road 56',
);

Draft exampleBill = Draft(
  id: 1,
  tax: 19,
  items: [
    Item(id: '1', title: 'Papier A4', description: '100 Blatt', price: 100, quantity: 2, tax: 19),
    Item(id: '2', title: 'Bachelorarbeit', description: '', price: 2000, quantity: 1, tax: 19),
  ],
  customer: 1,
  vendor: 1,
  editor: 'Maximilian Mustermann',
);

Vendor exampleVendor = Vendor(
  name: 'My Company',
  address: 'Example Road 3',
  city: '12345 Town',
  iban: 'DE12 2345 1233 1234',
  bic: 'WELADE3LXXX',
  bank: 'Bank',
  taxNr: '123/234/678',
  vatNr: 'DE12345678',
  website: 'homepage.com',
  fullAddress: 'My Company Example Road 3 12345 Town',
  billPrefix: 'R',
);
